DX_avMesh RCDATA "!Out\DX_avMesh.hlsl"
DX_avMeshPBR RCDATA "!Out\DX_avMeshPBR.hlsl"
DX_avMesh_shadow RCDATA "!Out\DX_avMesh_shadow.hlsl"
DX_avMesh_emission RCDATA "!Out\DX_avMesh_emission.hlsl"
DX_PostProcess1 RCDATA "!Out\DX_PostProcess1.hlsl"
DX_Blur RCDATA "!Out\DX_Blur.hlsl"
DX_Lighting_render_clusters RCDATA "!Out\DX_Lighting_render_clusters.hlsl"
